In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv('Train_Data.csv')
test_data = pd.read_csv('Test_Data.csv')
train_data.head()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue
0,01-08-2020,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00
1,01-08-2020,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00
2,01-08-2020,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00
3,01-08-2020,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00
4,01-08-2020,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71

In [3]:
train_data.date.head()

0    01-08-2020
1    01-08-2020
2    01-08-2020
3    01-08-2020
4    01-08-2020
Name: date, dtype: object

In [4]:
train_data['date'] = pd.to_datetime(train_data['date'], format='%d-%m-%Y', errors='coerce')
test_data['date'] = pd.to_datetime(test_data['date'], format='%d-%m-%Y', errors='coerce')

In [5]:
train_data.date.head()

0   2020-08-01
1   2020-08-01
2   2020-08-01
3   2020-08-01
4   2020-08-01
Name: date, dtype: datetime64[ns]

In [6]:
train_data['date_month'] = train_data['date'].dt.month
train_data['date_day'] = train_data['date'].dt.day

test_data['date_month'] = test_data['date'].dt.month
test_data['date_day'] = test_data['date'].dt.day

In [7]:
train_data.corr()

,impressions,clicks,cost,conversions,revenue,date_month,date_day
impressions,1.000000,0.987514,0.682811,0.822149,0.759671,0.081627,0.019950
clicks,0.987514,1.000000,0.719925,0.856941,0.798282,0.089060,0.017087
cost,0.682811,0.719925,1.000000,0.672202,0.581662,0.086645,0.057273
conversions,0.822149,0.856941,0.672202,1.000000,0.964096,0.051396,0.010227
revenue,0.759671,0.798282,0.581662,0.964096,1.000000,0.051657,-0.004390
date_month,0.081627,0.089060,0.086645,0.051396,0.051657,1.000000,0.008932
date_day,0.019950,0.017087,0.057273,0.010227,-0.004390,0.008932,1.000000

In [8]:
train_data.head()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue,date_month,date_day
0,2020-08-01,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00,8,1
1,2020-08-01,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00,8,1
2,2020-08-01,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00,8,1
3,2020-08-01,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00,8,1
4,2020-08-01,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71,8,1

In [9]:
train_data = train_data[train_data.ad.isin(['ad 1', 'ad 2', 'ad 3', 'ad 4', 'ad 5', 'ad 6', 'ad 7', 'ad 8',
       'ad 10', 'ad 71', 'ad 72', 'ad 73', 'ad 74', 'ad 75', 'ad 56',
       'ad 55'])]

In [10]:
train_data.drop('date', axis=1, inplace=True)
train_data.drop('campaign', axis=1, inplace=True)
test_data.drop('date', axis=1, inplace=True)
test_data.drop('campaign', axis=1, inplace=True)
train_data.drop('ad', axis=1, inplace=True)
test_data.drop('ad', axis=1, inplace=True)

In [13]:
train_data['1'] = train_data['impressions'] / train_data['clicks']
test_data['1'] = test_data['impressions'] / test_data['clicks']

train_data['2'] = train_data['impressions'] / train_data['cost']
test_data['2'] = test_data['impressions'] / test_data['cost']

In [15]:
train_data.replace([np.inf, -np.inf], np.nan, inplace=True)
test_data.replace([np.inf, -np.inf], np.nan, inplace=True)

train_data.fillna(0, inplace=True)
test_data.fillna(0, inplace=True)

In [16]:
train_data

,adgroup,impressions,clicks,cost,conversions,revenue,date_month,date_day,1,2
0,adgroup 1,24,6,0.08,0,0.00,8,1,4.000000,300.000000
1,adgroup 2,1,0,0.00,0,0.00,8,1,0.000000,0.000000
2,adgroup 3,13,4,0.04,0,0.00,8,1,3.250000,325.000000
3,adgroup 4,5,4,0.08,0,0.00,8,1,1.250000,62.500000
4,adgroup 1,247,126,1.29,4,925.71,8,1,1.960317,191.472868
...,...,...,...,...,...,...,...,...,...,...
4566,adgroup 3,19,6,0.07,0,0.00,2,28,3.166667,271.428571
4567,adgroup 4,1,0,0.00,0,0.00,2,28,0.000000,0.000000
4568,adgroup 3,16,8,0.12,1,93.20,2,28,2.000000,133.333333
4569,adgroup 1,37,13,0.23,0,0.00,2,28,2.846154,160.869565
4570,adgroup 1,19,10,0.14,0,0.00,2,28,1.900000,135.714286

In [17]:
train_data = pd.get_dummies(train_data)
test_data = pd.get_dummies(test_data)
train_data.head()

,impressions,clicks,cost,conversions,revenue,date_month,date_day,1,2,adgroup_adgroup 1,adgroup_adgroup 2,adgroup_adgroup 3,adgroup_adgroup 4
0,24,6,0.08,0,0.00,8,1,4.000000,300.000000,1,0,0,0
1,1,0,0.00,0,0.00,8,1,0.000000,0.000000,0,1,0,0
2,13,4,0.04,0,0.00,8,1,3.250000,325.000000,0,0,1,0
3,5,4,0.08,0,0.00,8,1,1.250000,62.500000,0,0,0,1
4,247,126,1.29,4,925.71,8,1,1.960317,191.472868,1,0,0,0

In [18]:
X_train = train_data.drop(['revenue'], axis='columns')
y_train = train_data['revenue']
X_test = test_data

In [19]:
X_train

,impressions,clicks,cost,conversions,date_month,date_day,1,2,adgroup_adgroup 1,adgroup_adgroup 2,adgroup_adgroup 3,adgroup_adgroup 4
0,24,6,0.08,0,8,1,4.000000,300.000000,1,0,0,0
1,1,0,0.00,0,8,1,0.000000,0.000000,0,1,0,0
2,13,4,0.04,0,8,1,3.250000,325.000000,0,0,1,0
3,5,4,0.08,0,8,1,1.250000,62.500000,0,0,0,1
4,247,126,1.29,4,8,1,1.960317,191.472868,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4566,19,6,0.07,0,2,28,3.166667,271.428571,0,0,1,0
4567,1,0,0.00,0,2,28,0.000000,0.000000,0,0,0,1
4568,16,8,0.12,1,2,28,2.000000,133.333333,0,0,1,0
4569,37,13,0.23,0,2,28,2.846154,160.869565,1,0,0,0
4570,19,10,0.14,0,2,28,1.900000,135.714286,1,0,0,0

In [20]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_train_scaled

X_test_scaled = scaler.transform(X_test)
X_test_scaled

array([[-0.52713638,  1.45791953,  9.04243768, ..., -0.41126693,
        -0.80708709, -0.45786773],
       [-0.5301565 , -0.1773898 ,  1.98666292, ..., -0.41126693,
         1.23902366, -0.45786773],
       [-0.53104044, -0.45820049,  0.27039339, ..., -0.41126693,
        -0.80708709,  2.18403687],
       ...,
       [-0.53037749, -0.12783497,  1.79596631, ..., -0.41126693,
        -0.80708709, -0.45786773],
       [-0.53096678, -0.39212739,  0.46109   , ..., -0.41126693,
         1.23902366, -0.45786773],
       [-0.52897792,  0.56593262,  4.84711215, ..., -0.41126693,
        -0.80708709, -0.45786773]])

In [72]:
import tensorflow as tf

model = tf.keras.Sequential([
  tf.keras.layers.Dense(40),
  tf.keras.layers.Dense(40),
  tf.keras.layers.Dense(20),
  tf.keras.layers.Dense(1),
])

# 2. Compile the model
model.compile( loss = tf.keras.losses.mae,
               optimizer = tf.keras.optimizers.Adam(),
               metrics = tf.keras.metrics.RootMeanSquaredError())

# 3. Fit the model
model.fit(X_train_scaled, y_train, epochs= 5)

Epoch 1/5
106/106 [==============================] - 3s 13ms/step - loss: 109.7511 - root_mean_squared_error: 304.2881
Epoch 2/5
106/106 [==============================] - 1s 12ms/step - loss: 73.2861 - root_mean_squared_error: 211.9761
Epoch 3/5
106/106 [==============================] - 1s 9ms/step - loss: 50.7764 - root_mean_squared_error: 146.6048
Epoch 4/5
106/106 [==============================] - 1s 9ms/step - loss: 43.9987 - root_mean_squared_error: 131.8033
Epoch 5/5
106/106 [==============================] - 1s 9ms/step - loss: 43.7046 - root_mean_squared_error: 131.8774

In [73]:
preds = model.predict(X_test_scaled)
preds = preds.astype('int64')
preds

array([[ 133],
       [   0],
       [   0],
       [   1],
       [   0],
       [   0],
       [ 132],
       [   0],
       [ 135],
       [   0],
       [ 401],
       [   0],
       [   0],
       [ 277],
       [   1],
       [ 131],
       [   0],
       [ 132],
       [   0],
       [ 139],
       [   0],
       [  -3],
       [   1],
       [ 408],
       [   0],
       [   1],
       [ 542],
       [ 137],
       [   0],
       [   1],
       [ 413],
       [   0],
       [ 830],
       [ 270],
       [ 137],
       [   0],
       [ 133],
       [  -2],
       [   0],
       [   0],
       [   0],
       [  -2],
       [   1],
       [   0],
       [  -2],
       [   0],
       [   0],
       [   0],
       [   0],
       [  -2],
       [   1],
       [   0],
       [   0],
       [ 277],
       [ 127],
       [ 138],
       [   1],
       [  -2],
       [  -1],
       [ 822],
       [   0],
       [ 271],
       [   0],
       [ 266],
       [   1],
       [  -1],
       [ 410],
       [ 126],
       [   0],
       [   0],
       [ 270],
       [   0],
       [   0],
       [   1],
       [ 134],
       [ 136],
       [ 545],
       [   0],
       [  -2],
       [   0],
       [ 406],
       [ 137],
       [  -1],
       [ 139],
       [   0],
       [   0],
       [ 542],
       [1104],
       [   0],
       [ 272],
       [ 273],
       [ 276],
       [  -1],
       [ 550],
       [ 137],
       [   1],
       [   1],
       [   0],
       [   0],
       [   0],
       [ 135],
       [   0],
       [   0],
       [ 133],
       [   1],
       [1913],
       [   1],
       [ 273],
       [  -1],
       [ 130],
       [   0],
       [ 551],
       [   1],
       [ 274],
       [   1],
       [1785],
       [   0],
       [2060],
       [ 408],
       [ 136],
       [   1],
       [   0],
       [ 406],
       [   0],
       [   0],
       [   1],
       [ 414],
       [   1],
       [ 132],
       [ 139],
       [  -1],
       [   0],
       [   0],
       [   0],
       [ 691],
       [   0],
       [  -1],
       [   0],
       [ 408],
       [   0],
       [ 134],
       [   1],
       [   0],
       [   0],
       [ 137],
       [   1],
       [   0],
       [ 272],
       [ 409],
       [   1],
       [   0],
       [   0],
       [ 545],
       [   0],
       [ 272],
       [   1],
       [ 682],
       [  -1],
       [   0],
       [  -2],
       [ 140],
       [   1],
       [   0],
       [  -2],
       [ 272],
       [   0],
       [ 277],
       [   0],
       [   1],
       [  -2],
       [   0],
       [   0],
       [  -3],
       [ 134],
       [   1],
       [   0],
       [   0],
       [   0],
       [ 272],
       [ 138],
       [   0],
       [  -1],
       [   0],
       [ 126],
       [   0],
       [   1],
       [ 139],
       [  -3],
       [ 138],
       [   1],
       [   1],
       [ 135],
       [  -2],
       [   0],
       [  -3],
       [   0],
       [   0],
       [   1],
       [   0],
       [ 136],
       [ 139],
       [   0],
       [ 274],
       [   1],
       [   1],
       [  -2],
       [ 126],
       [  -2],
       [   0],
       [ 418],
       [   2],
       [  -1],
       [   0],
       [ 136],
       [ 274],
       [   2],
       [  -6],
       [   0],
       [  -1],
       [ 276],
       [   0],
       [   0],
       [  -2],
       [   1],
       [   1],
       [ 685],
       [   0],
       [   0],
       [ 126],
       [   1],
       [ 275],
       [  -1],
       [   1],
       [   0],
       [   0],
       [   1],
       [   0],
       [ 131],
       [  -1],
       [  -2],
       [   1],
       [   0],
       [  -2],
       [   0],
       [   1],
       [ 138],
       [   0],
       [  -3],
       [   1],
       [   0],
       [ 411],
       [ 260],
       [   1],
       [ 415],
       [   0],
       [ 138],
       [  -1],
       [   0],
       [ 135],
       [ 137],
       [   0],
       [ 269],
       [   0],
       [  -4],
       [   0],
       [  -1],
       [   0],
       [   0],
       [   1],
       [   1],
       [ 273],
       [   0],
       [   0],
       [ 550],
       [   1],
       [   0],
       [   0],
       [ 275],
       [ 129],
       [   1],
       [   0],
       [   1],
       [   0],
       [   1],
       [ 277],
       [  -2],
       [ 135],
       [  -1],
       [   0],
       [  -1],
       [   0],
       [ 135],
       [  -1],
       [   0],
       [ 135],
       [  -1],
       [   2],
       [ 136],
       [   0],
       [   1],
       [   0],
       [   2],
       [ 540],
       [   0],
       [   0],
       [   2],
       [ 827],
       [   0],
       [   1],
       [ 275],
       [ 132],
       [ 134],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 135]], dtype=int64)

In [74]:
preds[preds < 20] = 0
preds

array([[ 133],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 132],
       [   0],
       [ 135],
       [   0],
       [ 401],
       [   0],
       [   0],
       [ 277],
       [   0],
       [ 131],
       [   0],
       [ 132],
       [   0],
       [ 139],
       [   0],
       [   0],
       [   0],
       [ 408],
       [   0],
       [   0],
       [ 542],
       [ 137],
       [   0],
       [   0],
       [ 413],
       [   0],
       [ 830],
       [ 270],
       [ 137],
       [   0],
       [ 133],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 277],
       [ 127],
       [ 138],
       [   0],
       [   0],
       [   0],
       [ 822],
       [   0],
       [ 271],
       [   0],
       [ 266],
       [   0],
       [   0],
       [ 410],
       [ 126],
       [   0],
       [   0],
       [ 270],
       [   0],
       [   0],
       [   0],
       [ 134],
       [ 136],
       [ 545],
       [   0],
       [   0],
       [   0],
       [ 406],
       [ 137],
       [   0],
       [ 139],
       [   0],
       [   0],
       [ 542],
       [1104],
       [   0],
       [ 272],
       [ 273],
       [ 276],
       [   0],
       [ 550],
       [ 137],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 135],
       [   0],
       [   0],
       [ 133],
       [   0],
       [1913],
       [   0],
       [ 273],
       [   0],
       [ 130],
       [   0],
       [ 551],
       [   0],
       [ 274],
       [   0],
       [1785],
       [   0],
       [2060],
       [ 408],
       [ 136],
       [   0],
       [   0],
       [ 406],
       [   0],
       [   0],
       [   0],
       [ 414],
       [   0],
       [ 132],
       [ 139],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 691],
       [   0],
       [   0],
       [   0],
       [ 408],
       [   0],
       [ 134],
       [   0],
       [   0],
       [   0],
       [ 137],
       [   0],
       [   0],
       [ 272],
       [ 409],
       [   0],
       [   0],
       [   0],
       [ 545],
       [   0],
       [ 272],
       [   0],
       [ 682],
       [   0],
       [   0],
       [   0],
       [ 140],
       [   0],
       [   0],
       [   0],
       [ 272],
       [   0],
       [ 277],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 134],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 272],
       [ 138],
       [   0],
       [   0],
       [   0],
       [ 126],
       [   0],
       [   0],
       [ 139],
       [   0],
       [ 138],
       [   0],
       [   0],
       [ 135],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 136],
       [ 139],
       [   0],
       [ 274],
       [   0],
       [   0],
       [   0],
       [ 126],
       [   0],
       [   0],
       [ 418],
       [   0],
       [   0],
       [   0],
       [ 136],
       [ 274],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 276],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 685],
       [   0],
       [   0],
       [ 126],
       [   0],
       [ 275],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 131],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 138],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 411],
       [ 260],
       [   0],
       [ 415],
       [   0],
       [ 138],
       [   0],
       [   0],
       [ 135],
       [ 137],
       [   0],
       [ 269],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 273],
       [   0],
       [   0],
       [ 550],
       [   0],
       [   0],
       [   0],
       [ 275],
       [ 129],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 277],
       [   0],
       [ 135],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 135],
       [   0],
       [   0],
       [ 135],
       [   0],
       [   0],
       [ 136],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 540],
       [   0],
       [   0],
       [   0],
       [ 827],
       [   0],
       [   0],
       [ 275],
       [ 132],
       [ 134],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 135]], dtype=int64)

In [66]:
prediction = pd.DataFrame(preds, columns=['revenue']).to_csv('datetime.csv', index=False)