In [1]:
import pandas as pd
import numpy as np

In [21]:
train_data = pd.read_csv('Train_Data.csv')
test_data = pd.read_csv('Test_Data.csv')
train_data.head()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue
0,01-08-2020,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00
1,01-08-2020,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00
2,01-08-2020,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00
3,01-08-2020,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00
4,01-08-2020,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71

In [22]:
train_data.date.head()

0    01-08-2020
1    01-08-2020
2    01-08-2020
3    01-08-2020
4    01-08-2020
Name: date, dtype: object

In [23]:
train_data['date'] = pd.to_datetime(train_data['date'], format='%d-%m-%Y', errors='coerce')
test_data['date'] = pd.to_datetime(test_data['date'], format='%d-%m-%Y', errors='coerce')

In [24]:
train_data.date.head()

0   2020-08-01
1   2020-08-01
2   2020-08-01
3   2020-08-01
4   2020-08-01
Name: date, dtype: datetime64[ns]

In [25]:
train_data['date_month'] = train_data['date'].dt.month
train_data['date_day'] = train_data['date'].dt.day

test_data['date_month'] = test_data['date'].dt.month
test_data['date_day'] = test_data['date'].dt.day

In [26]:
train_data.corr()

,impressions,clicks,cost,conversions,revenue,date_month,date_day
impressions,1.000000,0.987514,0.682811,0.822149,0.759671,0.081627,0.019950
clicks,0.987514,1.000000,0.719925,0.856941,0.798282,0.089060,0.017087
cost,0.682811,0.719925,1.000000,0.672202,0.581662,0.086645,0.057273
conversions,0.822149,0.856941,0.672202,1.000000,0.964096,0.051396,0.010227
revenue,0.759671,0.798282,0.581662,0.964096,1.000000,0.051657,-0.004390
date_month,0.081627,0.089060,0.086645,0.051396,0.051657,1.000000,0.008932
date_day,0.019950,0.017087,0.057273,0.010227,-0.004390,0.008932,1.000000

In [27]:
train_data.head()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue,date_month,date_day
0,2020-08-01,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00,8,1
1,2020-08-01,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00,8,1
2,2020-08-01,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00,8,1
3,2020-08-01,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00,8,1
4,2020-08-01,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71,8,1

In [28]:
train_data = train_data[train_data.ad.isin(['ad 1', 'ad 2', 'ad 3', 'ad 4', 'ad 5', 'ad 6', 'ad 7', 'ad 8',
       'ad 10', 'ad 71', 'ad 72', 'ad 73', 'ad 74', 'ad 75', 'ad 56',
       'ad 55'])]

In [29]:
train_data.drop('date', axis=1, inplace=True)
train_data.drop('campaign', axis=1, inplace=True)
test_data.drop('date', axis=1, inplace=True)
test_data.drop('campaign', axis=1, inplace=True)
train_data.drop('ad', axis=1, inplace=True)
test_data.drop('ad', axis=1, inplace=True)

In [30]:
train_data

,adgroup,impressions,clicks,cost,conversions,revenue,date_month,date_day
0,adgroup 1,24,6,0.08,0,0.00,8,1
1,adgroup 2,1,0,0.00,0,0.00,8,1
2,adgroup 3,13,4,0.04,0,0.00,8,1
3,adgroup 4,5,4,0.08,0,0.00,8,1
4,adgroup 1,247,126,1.29,4,925.71,8,1
...,...,...,...,...,...,...,...,...
4566,adgroup 3,19,6,0.07,0,0.00,2,28
4567,adgroup 4,1,0,0.00,0,0.00,2,28
4568,adgroup 3,16,8,0.12,1,93.20,2,28
4569,adgroup 1,37,13,0.23,0,0.00,2,28
4570,adgroup 1,19,10,0.14,0,0.00,2,28

In [31]:
train_data = pd.get_dummies(train_data)
test_data = pd.get_dummies(test_data)
train_data.head()

,impressions,clicks,cost,conversions,revenue,date_month,date_day,adgroup_adgroup 1,adgroup_adgroup 2,adgroup_adgroup 3,adgroup_adgroup 4
0,24,6,0.08,0,0.00,8,1,1,0,0,0
1,1,0,0.00,0,0.00,8,1,0,1,0,0
2,13,4,0.04,0,0.00,8,1,0,0,1,0
3,5,4,0.08,0,0.00,8,1,0,0,0,1
4,247,126,1.29,4,925.71,8,1,1,0,0,0

In [32]:
X_train = train_data.drop(['revenue'], axis='columns')
y_train = train_data['revenue']
X_test = test_data

In [33]:
X_train

,impressions,clicks,cost,conversions,date_month,date_day,adgroup_adgroup 1,adgroup_adgroup 2,adgroup_adgroup 3,adgroup_adgroup 4
0,24,6,0.08,0,8,1,1,0,0,0
1,1,0,0.00,0,8,1,0,1,0,0
2,13,4,0.04,0,8,1,0,0,1,0
3,5,4,0.08,0,8,1,0,0,0,1
4,247,126,1.29,4,8,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
4566,19,6,0.07,0,2,28,0,0,1,0
4567,1,0,0.00,0,2,28,0,0,0,1
4568,16,8,0.12,1,2,28,0,0,1,0
4569,37,13,0.23,0,2,28,1,0,0,0
4570,19,10,0.14,0,2,28,1,0,0,0

In [34]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_train_scaled

X_test_scaled = scaler.transform(X_test)
X_test_scaled

array([[-0.52713638,  1.45791953,  9.04243768, ..., -0.41126693,
        -0.80708709, -0.45786773],
       [-0.5301565 , -0.1773898 ,  1.98666292, ..., -0.41126693,
         1.23902366, -0.45786773],
       [-0.53104044, -0.45820049,  0.27039339, ..., -0.41126693,
        -0.80708709,  2.18403687],
       ...,
       [-0.53037749, -0.12783497,  1.79596631, ..., -0.41126693,
        -0.80708709, -0.45786773],
       [-0.53096678, -0.39212739,  0.46109   , ..., -0.41126693,
         1.23902366, -0.45786773],
       [-0.52897792,  0.56593262,  4.84711215, ..., -0.41126693,
        -0.80708709, -0.45786773]])

In [46]:
import tensorflow as tf

model = tf.keras.Sequential([
  tf.keras.layers.Dense(100),
  tf.keras.layers.Dense(30),
  tf.keras.layers.Dense(1),
])

# 2. Compile the model
model.compile( loss = tf.keras.losses.mae,
               optimizer = tf.keras.optimizers.Adam(),
               metrics = tf.keras.metrics.RootMeanSquaredError())

# 3. Fit the model
model.fit(X_train_scaled, y_train, epochs= 7)

Epoch 1/7
106/106 [==============================] - 2s 10ms/step - loss: 109.9936 - root_mean_squared_error: 305.0072
Epoch 2/7
106/106 [==============================] - 1s 9ms/step - loss: 89.6305 - root_mean_squared_error: 256.2499
Epoch 3/7
106/106 [==============================] - 1s 9ms/step - loss: 58.5003 - root_mean_squared_error: 168.5581
Epoch 4/7
106/106 [==============================] - 1s 9ms/step - loss: 49.2599 - root_mean_squared_error: 144.9601
Epoch 5/7
106/106 [==============================] - 1s 9ms/step - loss: 43.7841 - root_mean_squared_error: 135.0962
Epoch 6/7
106/106 [==============================] - 1s 9ms/step - loss: 43.1261 - root_mean_squared_error: 130.8435
Epoch 7/7
106/106 [==============================] - 1s 9ms/step - loss: 42.9238 - root_mean_squared_error: 130.9995

In [47]:
preds = model.predict(X_test_scaled)
preds = preds.astype('int64')

In [48]:
preds[preds < 20] = 0
preds

array([[ 137],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 148],
       [   0],
       [ 140],
       [   0],
       [ 406],
       [   0],
       [   0],
       [ 271],
       [   0],
       [ 134],
       [   0],
       [ 141],
       [   0],
       [ 132],
       [   0],
       [   0],
       [   0],
       [ 408],
       [   0],
       [   0],
       [ 538],
       [ 143],
       [   0],
       [   0],
       [ 393],
       [   0],
       [ 793],
       [ 266],
       [ 131],
       [   0],
       [ 141],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 270],
       [ 139],
       [ 130],
       [   0],
       [   0],
       [   0],
       [ 802],
       [   0],
       [ 268],
       [   0],
       [ 278],
       [   0],
       [   0],
       [ 407],
       [ 150],
       [   0],
       [   0],
       [ 277],
       [   0],
       [   0],
       [   0],
       [ 141],
       [ 134],
       [ 537],
       [   0],
       [   0],
       [   0],
       [ 404],
       [ 130],
       [   0],
       [ 135],
       [   0],
       [   0],
       [ 543],
       [1072],
       [   0],
       [ 269],
       [ 264],
       [ 262],
       [   0],
       [ 524],
       [ 135],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 137],
       [   0],
       [   0],
       [ 164],
       [   0],
       [1856],
       [   0],
       [ 264],
       [   0],
       [ 136],
       [   0],
       [ 529],
       [   0],
       [ 267],
       [   0],
       [1730],
       [   0],
       [1993],
       [ 399],
       [ 134],
       [   0],
       [   0],
       [ 399],
       [   0],
       [   0],
       [   0],
       [ 409],
       [   0],
       [ 149],
       [ 143],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 664],
       [   0],
       [   0],
       [   0],
       [ 403],
       [   0],
       [ 132],
       [   0],
       [   0],
       [   0],
       [ 132],
       [   0],
       [   0],
       [ 263],
       [ 397],
       [   0],
       [   0],
       [   0],
       [ 533],
       [   0],
       [ 273],
       [   0],
       [ 665],
       [   0],
       [   0],
       [   0],
       [ 140],
       [   0],
       [   0],
       [   0],
       [ 271],
       [   0],
       [ 264],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 136],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 271],
       [ 130],
       [   0],
       [   0],
       [   0],
       [ 143],
       [   0],
       [   0],
       [ 138],
       [   0],
       [ 133],
       [   0],
       [   0],
       [ 131],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 135],
       [ 130],
       [   0],
       [ 275],
       [   0],
       [   0],
       [   0],
       [ 145],
       [   0],
       [   0],
       [ 401],
       [   0],
       [   0],
       [   0],
       [ 140],
       [ 262],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 262],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 663],
       [   0],
       [   0],
       [ 142],
       [   0],
       [ 273],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 140],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 131],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 399],
       [ 274],
       [   0],
       [ 406],
       [   0],
       [ 132],
       [   0],
       [   0],
       [ 131],
       [ 132],
       [   0],
       [ 270],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 265],
       [   0],
       [   0],
       [ 530],
       [   0],
       [   0],
       [   0],
       [ 276],
       [ 149],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 262],
       [   0],
       [ 140],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 132],
       [   0],
       [   0],
       [ 136],
       [   0],
       [   0],
       [ 141],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 535],
       [   0],
       [   0],
       [   0],
       [ 791],
       [   0],
       [   0],
       [ 263],
       [ 138],
       [ 131],
       [   0],
       [   0],
       [   0],
       [   0],
       [   0],
       [ 134]], dtype=int64)

In [42]:
prediction = pd.DataFrame(preds, columns=['revenue']).to_csv('datetime.csv', index=False)